ul.bus__service {
  padding: 0px;
  margin: 0px;
}

.bus__service li{
  padding: 10px 0px;
  list-style: none;
}

.organisation{
  font-size: 22px;
  color: #666;
  padding-bottom: 10px;
  display: inline-block;
}
